/* add all custom styling here*/
body {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(251, 255, 5));
  }

.weather-positioin {
    text-align: center;
    margin-left:100px; 
    width: 1100px;
    padding:110px;
    
}

h1{
    padding-top: 60px;
    font-style: italic;
    color:black;
    text-shadow: 2px 2px 4px #000000;
    
}

.card-text{
    font-style: italic;
}

.card-title{
    font-style: inherit;
    color:black;
}

.lead{
    font-style: inherit;
}
.navbar navbar-light bg-light